h1
{
text-decoration:underline;
margin-left:50px;
}
#body 
{
     width:100%;
	 float:left; 
	 margin:10px, auto;
}
#you
{
	float:left;
	width:400px;
	margin-left:30%;
	
}
#body div
{
	width:300px;
	float:left;
	display:block;
	margin-left:40px;
}



.pull-quote 
{ 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.51); 
	-moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.51); 
	-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.51);
	
	background: #b8babc; 
	background: -moz-linear-gradient(top, #b8babc 0%, #e2e2e2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8babc), color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top, #b8babc 0%,#e2e2e2 100%); 
	background: -o-linear-gradient(top, #b8babc 0%,#e2e2e2 100%); 
	background: -ms-linear-gradient(top, #b8babc 0%,#e2e2e2 100%); 
	background: linear-gradient(top, #b8babc 0%,#e2e2e2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8babc', endColorstr='#e2e2e2',GradientType=0 ); 
	padding:4px; 
	font-weight:bold; 
	-webkit-border-top-left-radius: 4px; 
	-webkit-border-top-right-radius: 4px; 
	-moz-border-radius-topleft: 4px; 
	-moz-border-radius-topright: 4px; 
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
	margin-bottom:10px;
	padding:10px;
}
